<!DOCTYPE html>
<html lang="en">
   <head>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
	<title>Ideapage</title>
	
  </head>	
	<body>
		       {%block content%}
	    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<a class="brand " href="#"> &nbsp;&nbsp;<b>IdeaBank</b></a>
	<div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> {{username}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
          </div>
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
          <div class="nav-collapse">

            <ul class="nav">
              <li class="active"><a href="#">Today's Idea</a></li>
              <li><a href="#Open source" data-toggle="tab">Open source</a></li>
              <li><a href="#Sponsors" data-toggle="tab">Sponsors</a></li>
	      <li><a href="#Contact us" data-toggle="tab">Contact Us</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        
        </div>

      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
         <div id="myCarousel" class="carousel slide">
						    <!-- Carousel items -->
						    
						    <div class="carousel-inner">
						    <div class="active item"><img src='/static/bootstrap/img/android-wallpaper1.png'></div>
						    <div class="item"><img src='/static/bootstrap/img/1210917477.jpg'></div>
						    <div class="item"><<img src='/static/bootstrap/img/3D_Fun_179.jpg'></div>
						    </div>
						    <!-- Carousel nav -->
						    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
						    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
						    </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span12">
          <h2>{{todays_idea.name}}</h2>
           <p>{{todays_idea.body}} </p>

          <p><form>
          	<label>
		<input type="radio" name='vote' value='for' /> Great
		<input type="radio" name='vote' value='against' /> Needs refining
		</label>
          	<a class="btn btn-danger" href="#">Vote &raquo;</a></form></p>
        </div>
        <div class="span12">
          {%for comment in comments %}
						  
						  <div class=well>
						   	<b>comment</b>:<br>{{comment.body}}<i class="icon-remove pull-right"></i>
						  	<br>
			<b>created by :</b> {{comment.author}}<br><b>last updated</b>:{{comment.updated}} 
		{%if username == comment.author %}<input class='pull-right' type="submit" value="edit" />{%endif%}
						 </div>
						{%endfor%}
	<form action="" method="POST">
						  Add Comment:<br />
						  <textarea class="span12"  name='newcom'>Hey... say something!
						  </textarea><br />
						  <input type="submit" value="comment" />&nbsp;&nbsp;
	</form>
        </div>
       
      </div>

      <hr>

      <footer>
        <p>Designed by DAK.inc&reg;</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>

    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>

    <script src="../assets/js/bootstrap-typeahead.js"></script>	       
		       {%endblock%}
	</body>
</html>
